{% extends "base.html" %} {% block title %}Funcionários{% endblock %} {% block
content %}
<form action="{{ url_for('funcionario.formFuncionario') }}" method="POST">
  <h1><i class="fas fa-list"></i> Lista de funcionários</h1>
  <button type="submit" name="formNovo" class="btn btn-outline-dark my-3">
    <i class="fas fa-add"></i> Cadastrar novo funcionário
  </button>
</form>
<table class="table table table-striped">
  <thead class="thead-dark bg-dark text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Telefone</th>
      <th scope="col">Grupo</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    {% if result %} {% for row in result[0] %}
    <tr>
      <th scope="row">{{ row['id_funcionario'] }}</th>
      <td>{{ row['nome'] }}</td>
      <td>{{ row['cpf'] }}</td>
      <td>{{ row['matricula'] }}</td>
      <td>{{ row['telefone'] }}</td>
      <td>{{ row['grupo'] }}</td>
      <td class="d-flex flex-row">
        <form
          action="{{ url_for('funcionario.formEditFuncionario') }}"
          method="POST"
          name="formEdit{{ row['id_funcionario'] }}"
        >
          <input type="hidden" name="id" value="{{ row['id_funcionario'] }}" />
          <button type="submit" name="formEditFuncionario" class="btn">
            <i class="fas fa-edit"></i>
          </button>
        </form>
        <form
          action="{{ url_for('funcionario.delete') }}"
          method="POST"
          name="formEdit{{ row['id_funcionario'] }}"
        >
          <input
            type="hidden"
            name="id_funcionario"
            value="{{ row['id_funcionario'] }}"
          />
          <button type="submit" name="delete" class="btn">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>

{% endblock %}
