<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

{% extends "base.html" %} {% block title %}Funcionário{% endblock %} {% block
content %}
<script type="text/javascript">
  $("#telefone").mask("(00) 0000-0000");
  $("#cpf").mask("000.000.000-00");
</script>
<form
  class="row g-3 bg-dark mx-5 text-white p-3 mt-5 rounded shadow-lg fs-5"
  name="cliente"
  id="cliente"
  action="{{ url_for('cliente.insert') }}"
  method="POST"
>
  <h1><i class="fa fa-user-plus"></i> Cadastrar novo cliente</h1>
  <hr />
  <div class="col-md-6">
    <label for="nome" class="form-label">Nome</label>
    <input
      type="text"
      class="form-control bg-dark text-white"
      placeholder="Nome do cliente"
      id="nome"
      name="nome"
    />
  </div>
  <div class="col-md-6">
    <label for="cpf" class="form-label">CPF</label>
    <input
      type="cpf"
      class="form-control bg-dark text-white"
      placeholder="000.000.000-00"
      id="cpf"
      name="cpf"
    />
  </div>
  <div class="col-md-6">
    <label for="telefone" class="form-label">Telefone</label>
    <input
      type="phone"
      class="form-control bg-dark text-white"
      placeholder="(00) 0 0000-0000"
      id="telefone"
      name="telefone"
    />
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-12">
    <label for="compraFiado" class="form-label">Fiado</label>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="compraFiado" name="compra_fiado">
      <label class="form-check-label" for="compraFiado">Cliente poderá efetuar compras no fiado</label>
    </div>
    <br/>
    <label for="diaFiado" class="form-label">Dia fiado</label><br/>
    <input
      class="bg-dark text-white"
      type="date"
      id="diaFiado"
      name="diaFiado"
    />
  </div>
  <div class="col-md-6">
    <label for="senha" class="form-label">Senha</label>
    <input
      type="password"
      class="form-control bg-dark text-white"
      placeholder="Crie sua senha"
      id="senha"
      name="senha"
    />
  </div>
  <div class="col-md-6">
    <label for="reSenha" class="form-label">Re-Senha</label>
    <input
      type="password"
      class="form-control bg-dark text-white"
      placeholder="Repita sua senha"
      id="reSenha"
      name="resenha"
    />
  </div>

  <div class="col-12 d-flex flex-row-reverse">
    <button
      type="submit"
      class="btn btn-success"
      name="salvaUsuarioDB"
      id="salvaUsuarioDB"
    >
      <i class="fas fa-save"></i> Cadastrar
    </button>
  </div>
</form>
{% endblock %}
