<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script
  src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
  type="text/javascript"
></script>
<script
  src="https://plentz.github.io/jquery-maskmoney/javascripts/jquery.maskMoney.min.js"
  type="text/javascript"
></script>

{% extends "base.html" %} {% block title %}Produto{% endblock %}
{# ajusta as variáveis conforme novo ou edit #}
{% set id = result[0].id_produto if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set descricao = result[0].descricao if result else '' %}
{% set foto = result[0].foto if result else '' %}
{% set valor = result[0].valor if result else '' %}
{% block content %}

<script>
  jQuery(function () {
    jQuery("#valor").maskMoney({
      prefix: "R$ ",
      thousands: ".",
      decimal: ",",
    });
  });
</script>
<form
  class="row g-3 bg-dark mx-5 text-white p-3 mt-5 rounded shadow-lg"
  name="{{ 'formEditar' if result else 'formAdicionar' }}"  
  id="{{ 'formEditar' if result else 'formAdicionar' }}"
  action="{{ url_for('produto.edit') if result else url_for('produto.insert') }}"
  method="POST"
>
  <h1><i class="fa fa-user-plus"></i> Cadastrar novo produto</h1>
  <hr />
  <div class="col-md-6">
    <input type="text" name="id" id="id" value="{{ id }}" hidden>

    <label for="nome" class="form-label">Nome do produto</label>
    <input
      type="text"
      class="form-control bg-dark text-white"
      placeholder="Nome do produto"
      id="nome"
      name="nome"
      value="{{ nome }}"
    />
  </div>
  <div class="col-md-6">
    <label for="descricao" class="form-label">Descrição</label>
    <input
      type="text"
      class="form-control bg-dark text-white"
      placeholder="Descrição do produto"
      id="descricao"
      name="descricao"
      value="{{ descricao }}"

    />
  </div>
  <div class="col-md-6">
    <label for="foto" class="form-label">Foto</label>
    <input
      type="file"
      class="form-control bg-dark text-white"
      id="foto"
      accept="image/*"
      name="foto"
      value="{{ foto }}"

    />
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <label for="valor" class="form-label">Valor</label>
    <input
      type="text"
      class="form-control bg-dark text-white"
      placeholder="4,00"
      id="valor"
      name="valor"
      value="{{ valor }}"

    />
  </div>

  <div class="col-12 d-flex flex-row-reverse">
    <button
      type="submit"
      class="btn btn-success"
      name="salvaUsuarioDB"
      id="salvaUsuarioDB"
    >
      <i class="fas fa-save"></i> Cadastrar
    </button>
  </div>
</form>
{% endblock %}
