{% extends "base.html" %} {% block title %}Funcionários{% endblock %} {% block
    content %}
    <form action="{{ url_for('produto.formProduto') }}" method="POST">
      <h1><i class="fas fa-list"></i> Lista de produtos</h1>
      <button type="submit" name="formNovo" class="btn btn-outline-dark my-3"><i class="fas fa-add"></i> Cadastrar novo produtos</button>
    </form>
    <table class="table table table-striped">
      <thead class="thead-dark bg-dark text-white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Produto</th>
          <th scope="col">Descrição</th>
          <th scope="col">Foto</th>
          <th scope="col">Valor</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Assado</td>
          <td>É assado</td>
          <td>--</td>
          <td>R$ 7,00</td>
          <td class="d-flex justify-content-around align-items-center"><i class="fas fa-edit"></i> <i class="fas fa-trash"></i></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Frito</td>
          <td>É frito</td>
          <td>--</td>
          <td>R$ 7,50</td>
          <td class="d-flex justify-content-around align-items-center"><i class="fas fa-edit"></i> <i class="fas fa-trash"></i></td>
        </tr>
      </tbody>
    </table>
    {% endblock %}
    