{% extends "base.html" %} {% block title %}Funcionários{% endblock %} {% block
  content %}
  <form action="{{ url_for('produto.formProduto') }}" method="POST">
    <h1><i class="fas fa-list"></i> Lista de produtos</h1>
    <button type="submit" name="formNovo" class="btn btn-outline-dark my-3"><i class="fas fa-add"></i> Cadastrar novo produtos</button>
  </form>
  <table class="table table table-striped">
    <thead class="thead-dark bg-dark text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Descrição</th>
        <th scope="col">Foto</th>
        <th scope="col">Valor</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      {% if result %}
      {% for row in result[0] %}
      <tr>
        <th scope="row">{{ row['id_produto'] }}</th>
        <td>{{ row['nome'] }}</td>
        <td>{{ row['descricao'] }}</td>
        <td>{{ row['foto'] }}</td>
        <td>{{ row['valor_unitario'] }}</td>
        <td class="d-flex justify-content-around align-items-center"><i class="fas fa-edit"></i> <i class="fas fa-trash"></i></td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  {% endblock %}
  