{% extends "base.html" %} {% block title %}Funcionário{% endblock %} {% block
    content %}
    <body>
      <h1>Inicio</h1>
      <ul>
        <li><a href="{{ url_for('index.formIndex') }}">Inicio</a></li>
        <li>
          <a href="{{ url_for('funcionario.formListaFuncionario') }}"
            >Funcionário</a
          >
        </li>
        <li><a href="{{ url_for('cliente.formListaCliente') }}">Cliente</a></li>
        <li><a href="{{ url_for('produto.formListaProduto') }}">Produto</a></li>
      </ul>
    </body>
    {% endblock %}
    